@model SatelliteDetails

@{
    ViewBag.Title = "Информация сателитна";
}

<div class="text-start">

    <p class="mb-0 text-start">План @Model.NameOfService</p>
    <p class="mb-0 text-start">Цена @Model.Price</p>
    <p class="mb-0 text-start">Активан услуга до : @Model.UntilDate</p>
    <p class="mb-0 text-start">Сериен номер на устройството: @Model.SerialNumber</p>
    <p class="mb-0 text-start">Име на устройстовто: @Model.DeviceName</p>

    <form method="get">
        <a href="/Satellite/Edit/@Model.Id" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Редактиране</a>
    </form>

</div>