@model IPTVFormModel

@{
    ViewBag.Title = "Добавяне на интерактивна телевизия";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Модел на устройството">
               <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="SerialNumber"></label>
                <input asp-for="SerialNumber" class="form-control" placeholder="3000000 - 3999999">
                <span asp-validation-for="SerialNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModelId"></label>
                <select asp-for="ProductModelId" class="form-control">
                    @foreach (var product in Model.Product)

                    {
                        <option value="@product.Id">@product.Name - @product.Price лв</option>
                    }
                </select>
                <span asp-validation-for="ProductModelId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfServiceId"></label>
                 <select asp-for="TypeOfServiceId" class="form-control">
                    <option value="3">IPTV</option>
                 </select>
                <span asp-validation-for="TypeOfServiceId" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <div class="input-group date" id="datetimepicker1">
                    <label asp-for="ActiveUntilDate"></label>
                    <input asp-for="ActiveUntilDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd H:mm")" />
                    <span asp-validation-for="ActiveUntilDate" class="text-danger"></span>
                </div>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
