@model ClientDetail

@{
    ViewBag.Title = "Информация за клиента";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="p-md-4 text-start">

    <p class="mb-0 text-start">Име @Model.FirstName</p>
    <p class="mb-0 text-start">Фамилия @Model.LastName</p>
    <p class="mb-0 text-start">E-mail @Model.Email</p>
    <p class="mb-0 text-start">Телефон @Model.PhoneNumber</p>
    <p class="mb-0 text-start">Адрес @Model.Address</p>

    <div class="mb-4 col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 ">
    @if (Model.InternetServiceId != 0)
        {
               <a href="/Internet/Details/@Model.Id" class="btn btn-outline-primary">Интернет</a>
        }
        @if (Model.IPTVId != 0)
        {
             <a href="/IPTV/Details/@Model.Id" class="btn btn-outline-primary">Интерактивна телевизия</a>
        }
        @if (Model.SatelliteTvId != 0)
        {
            <a href="/Satellite/Details/@Model.Id" class="btn btn-outline-primary">Сателитна телевизия</a>
        }   
    
    </div class="form-inline>  

    <div class="mb-4 col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 ">
        @if (this.User.Identity.IsAuthenticated)
        {
          if (Model.InternetServiceId == 0)
            {
                <a href="/Internet/Add/@Model.Id" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Добавяне на интернет услуга</a>
            }
            if (Model.SatelliteTvId == 0)
            {
                <a href="/Satellite/Add/@Model.Id" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Добавяне на сателитна телевизия</a>
            }
            if (Model.IPTVId == 0)
            {
                 <a href="/IPTV/Add/@Model.Id" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Добавяне на интерактивна телевизия</a>
            }
       
            <a href="/Client/Edit/@Model.Id" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Редактиране</a>
        }
    </div class="form-inline>               
            
</div>