@model ClientDetail

@{
    ViewBag.Title = "Информация за клиента";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-start">

    <p class="mb-0 text-start">Име @Model.FirstName</p>
    <p class="mb-0 text-start">Фамилия @Model.LastName</p>
    <p class="mb-0 text-start">E-mail @Model.Email</p>
    <p class="mb-0 text-start">Телефон @Model.PhoneNumber</p>
    <p class="mb-0 text-start">Адрес @Model.Address</p>

    <form method="get">
    <a href ="/Client/Edit/@Model.Id"  class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Edit</a>
    <a href="/Internet/Add" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Add Internet Service</a>
    <a href ="/Satellite/Add/@Model.Id"  class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Add Satellite Service</a>
    <a href ="/IPTV/Add/@Model.Id"  class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Add IPTV Service</a>
    </form>

    

</div>